/* HOME */
.main-nav {
  margin-top: 60px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nav button {
  margin-top: 60px;
}
